﻿@page
@model DariShop.Pages.AddToBasketModel
@{
}

<div class="text-center">
    <table class="table table-success table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название товара</th>
            <th scope="col">Цена</th>
            <th scope="col">Количество</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        
        @{
            foreach (var item in Model._basket)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.ProductName</td>
                    <td>@item.Price</td>
                    <td>@item.Count</td>
                    <td><a asp-page-handler="Delete" asp-route-id="@item.Id">Удалить</a></td>
                </tr>
            }
        }

        </tbody>
    </table>
    
    <a asp-page-handler="Pay" class="btn btn-outline-secondary">Оплатить</a>

    <h3>Итог: @Model._priceSum</h3>
</div>