﻿@page
@model DariShop.Pages.CashModel
@{
}
<div class="text-center">
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название товара</th>
                <th scope="col">Стоимость</th>
                <th scope="col">Количество</th>
            </tr>
        </thead>
        <tbody>

        @{
            int counter = 1;
                foreach (var item in Model._basketHistory)
                {
                    <tr>
                        <th scope="row">@counter</th>
                        <td>@item.ProductName</td>
                        <td>@item.ProductPrice</td>
                        <td>@item.Count</td>
                    </tr>
                    counter++;
                }
            }

        </tbody>
    </table>

    <h3>Итоговое количество: @Model.Count</h3>
    <h3>Итоговая сумма: @Model.Sum</h3>
    <h3>Прибыль: @Model.Profit</h3>
    <h3>Зп сотрудникам: @Model.CustomerSalary</h3>
</div>