﻿@page
@model DariShop.Pages.CreateProductModel
@{
}

<div>
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="productName" class="form-label">Название товара</label>
            <input name="Name" type="text" class="form-control" id="productName" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Цена</label>
            <input name="Price" type="number" class="form-control" id="price">
        </div>
        <div class="mb-3">
            <label for="mainCost" class="form-label">Себестоимость</label>
            <input name="MainPrice" type="number" class="form-control" id="mainCost">
        </div>
        <div class="mb-3">
            <label for="count" class="form-label">Количество</label>
            <input name="Count" type="number" class="form-control" id="count">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Картинка</label>
            <input id="image" name="Image" type="file" />
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
</div>
