﻿@page
@model DariShop.Pages.EditProductModel
@{
}

<div>
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="productName" class="form-label">Название товара</label>
            <input value="@Model._product.Name" name="Name" type="text" class="form-control" id="productName" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Цена</label>
            <input value="@Model._product.Price" name="Price" type="number" class="form-control" id="price">
        </div>
        <div class="mb-3">
            <label for="mainCost" class="form-label">Себестоимость</label>
            <input value="@Model._product.MainCost" name="MainPrice" type="number" class="form-control" id="mainCost">
        </div>
        <div class="mb-3">
            <label for="count" class="form-label">Количество</label>
            <input value="@Model._product.Count" name="Count" type="number" class="form-control" id="count">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Картинка</label>
            <div style="height: 200px; width: 200px;"><img style="width: 100%; height: 100%;" src="@Model._product.ImagePath" /></div>
            <input id="image" name="Image" type="file" />
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>