﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Цена</th>
                <th scope="col">Себестоимость</th>
                <th scope="col">Количество</th>
                <th scope="col">Картинка</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        
        @{
            foreach (var item in Model.Products)
            {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td>@item.MainCost</td>
                        <td>@item.Count</td>
                        <td><div style="height: 90px; width: 90px;"><img style="width: 100%; height: 100%;" src="@item.ImagePath" /></div></td>
                        <td>@if (item.Count != 0)
                        {<a asp-page="AddToBasket" asp-page-handler="AddToBasket" asp-route-productId="@item.Id">Добавить в корзину</a>}</td>
                        <td><a asp-page="EditProduct" asp-page-handler="Edit" asp-route-id="@item.Id">Редактировать</a></td>
                        <td><a asp-page-handler="Delete" asp-route-id="@item.Id">Удалить</a></td>
                    </tr>
            }
        }

        </tbody>
        
        <a asp-page="CreateProduct">Добавить товар</a>
        
        <div class="input-group input-group-lg">
            <form method="post">
                <button style="border: 0" type="submit"><span class="input-group-text" id="search">Поиск</span></button>
                <input name="searchParam" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            </form>
        </div>
    </table>
</div>
