﻿@page
@model DariShop.Pages.RegistrationRequestModel
@{
}

<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Имя пользователя</th>
        <th scope="col">Почта</th>
        <th scope="col">Роль</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    
    <tbody>
        
    @{
        @*foreach (var item in Model.RegistrationRequests)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.MainCost</td>
                <td>@item.Count</td>
                <td><div style="height: 90px; width: 90px;"><img style="width: 100%; height: 100%;" src="@item.ImagePath" /></div></td>
                <td>@if (item.Count != 0)
                    {<a asp-page="AddToBasket" asp-page-handler="AddToBasket" asp-route-productId="@item.Id">Добавить в корзину</a>}</td>
                <td><a asp-page="EditProduct" asp-page-handler="Edit" asp-route-id="@item.Id">Редактировать</a></td>
                <td><a asp-page-handler="Delete" asp-route-id="@item.Id">Удалить</a></td>
            </tr>
        }*@
    }

    </tbody>
</table>