﻿@page
@model DariShop.Pages.StatsModel
@{
}


<div class="w3-animate-left">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Статистика продаж</h5>
                    <div class="float-right">
                        <div class="btn-group">
                            @*<button id="chart-today-button" type="button" class="btn btn-xs btn-white active">Today</button>
                                <button type="button" class="btn btn-xs btn-white">Monthly</button>
                                <button type="button" class="btn btn-xs btn-white">Annual</button>*@
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-dashboard-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="col-lg-3">
            <ul class="stat-list">
                <li>
                    <h2 class="no-margins"></h2>
                    <small>Общее количество продаж</small>
                    <div class="stat-percent">
                            @Model.SoldProductCount
                        </div>
                        @*<div class="progress progress-mini">
                            <div style="width: 44%;" class="progress-bar"></div>
                        </div>*@
                </li>
                <li>
                    <h2 class="no-margins "></h2>
                    <small>Общая прибыль</small>
                    <div class="stat-percent">
                            @Model.ProfitSum
                        </div>
                        @*<div class="progress progress-mini">
                            <div style="width: 23%;" class="progress-bar"></div>
                        </div>*@
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="no-margins">Топ товаров проданных в этом месяце</h2>
            <small>Топ 10</small>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th id="testid" scope="col">Название товара</th>
                        <th scope="col">Дата продажи</th>
                        <th scope="col">Количество</th>
                    </tr>
                </thead>
                <tbody>
                @{
                    int counter = 1;
                        foreach (var item in Model.SoldProducts)
                        {
                            <tr class="table-info">
                                <th scope="row">@counter</th>
                                <td><a asp-Page="/News/GetNews" asp-route-id="@counter">@item.ProductName</a></td>
                                <td>@item.DateSold</td>
                                <td>@item.Count</td>
                            </tr>
                            counter++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



@section Scripts{
    <script src="/lib/sparkline/jquery.sparkline.min.js"></script>
    <script src="/lib/flot/jquery.flot.js"></script>
    <script src="/lib/flot/jquery.flot.tooltip.min.js"></script>
    <script src="/lib/flot/jquery.flot.resize.js"></script>
    <script src="/lib/flot/jquery.flot.pie.js"></script>
    <script src="/lib/flot/jquery.flot.time.js"></script>
    <script src="/lib/flot/jquery.flot.spline.js"></script>
    <script src="/js/Charts.js"></script>
}